# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.venv/
.env
.env.*

# --------------------
# Airflow (runtime files)
# --------------------
airflow.db
airflow.cfg
unittests.cfg
logs/
.dags/__pycache__/
.airflow/
airflow-webserver.pid
standalone_admin_password.txt
webserver_config.py

# --------------------
# OS / IDE
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Jupyter / notebooks
# --------------------
.ipynb_checkpoints/
*.ipynb

# --------------------
# Data files
# --------------------
# Keep only mock JSONs in data/ folder
*.csv
*.parquet
*.sqlite
*.db

# --------------------
# Node / npm (if created accidentally)
# --------------------
node_modules/
package-lock.json