# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
.venv/
.env
.env.*

# Airflow
airflow.db
airflow.cfg
unittests.cfg
logs/
dags/__pycache__/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter / notebooks (if used later)
.ipynb_checkpoints/
*.ipynb

# Data files (keep only mock JSONs you want in GitHub)
*.csv
*.parquet
*.sqlite
*.db

# Virtual environments
venv/
ENV/